* {
  margin: 0;
  padding: 0;
}

:root {
  --color-primary: #f1cdb3;
  --color-light-s: #fafafa;
  --color-light-xl: #ffffff;
  --color-light-l: #f6f6f6;
  --color-dark-s: #cdcdcd;
  --color-dark-3xl: #292929;
  --color-dark-i: #545454;
  --color-dark-m: #b2b2b2;
  --color-dark-xl: #4c4c4c;
  --font-Georgia: Georgia, sans-serif;
  --font-Arial: Arial, sans-serif;
  --section-paddingBlock: 80px 100px;
  --color-button-hover: #fddcc4;
}

body {
  box-sizing: border-box;
  scrollbar-width: none;
  overflow-x: hidden;
  width: 100%;
}

html {
  scroll-behavior: smooth;
}

h2 {
  font-family: var(--font-Georgia);
  font-weight: 400;
  font-size: 44px;
  line-height: 130%;
  letter-spacing: 0%;
  color: var(--color-light-xl);
}

h3 {
  font-family: var(--font-Georgia);
  font-weight: 400;
  font-size: 35px;
  line-height: 130%;
  letter-spacing: 6%;
  color: var(--color-dark-i);
}

h4 {
  font-family: var(--font-Georgia);
  font-weight: 400;
  font-size: 20px;
  line-height: 114.99999999999999%;
  letter-spacing: 6%;
  color: var(--color-dark-i);
}

h5 {
  font-family: var(--font-Georgia);
  font-weight: 400;
  font-size: 15px;
  line-height: 110.00000000000001%;
  letter-spacing: 6%;
  color: var(--color-dark-i);
}

p {
  font-family: var(--font-Arial);
  font-weight: 400;
  font-size: 15px;
  line-height: 160%;
  letter-spacing: 0px;
  color: var(--color-dark-xl);
}

.container {
  padding-inline: 40px;
}

button {
  padding: 15px 45px;
  display: block;
  user-select: none;
  border-radius: 100px;
  border: none;
  font-family: var(--font-Georgia);
  font-weight: 400;
  font-size: 17px;
  line-height: 130%;
  letter-spacing: 6%;
  color: var(--color-dark-3xl);
  background-color: var(--color-primary);
}

img {
  display: block;
  user-select: none;
}

.start-screen-gradient-background {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  max-height: 904px;
  z-index: -100;
}

.header-block .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 30px;
}

.menu-container {
  display: flex;
  gap: 0 35px;
  align-items: center;
}

.menu-container li {
  list-style-type: none;
}

.menu-container li a {
  color: var(--color-dark-s);
  font-family: var(--font-Arial);
  font-weight: 400;
  font-size: 15px;
  line-height: 160%;
  letter-spacing: 0px;
  text-decoration: none;
}

#About {
  color: var(--color-light-s);
  text-decoration: underline var(--color-primary) 3px;
  text-underline-offset: 7px;
}

.logo-title {
  font-family: var(--font-Georgia);
  font-weight: 400;
  font-size: 32px;
  line-height: 110.00000000000001%;
  letter-spacing: 6%;
  color: var(--color-primary);
  margin-bottom: 8px;
}

.logo-subtitle {
  font-family: var(--font-Arial);
  font-weight: 400;
  font-size: 13px;
  line-height: 100%;
  letter-spacing: 10%;
  color: var(--color-light-xl);
}

/*Hero*/
.hero-block .container {
  display: flex;
  padding-top: 90px;
  justify-content: space-between;
}

.hero-block .text-block {
  margin-top: 163px;
}

.hero-block .text-block h2 {
  max-width: 310px;
  margin-bottom: 42px;
}

.hero-block .text-block p {
  max-width: 460px;
  margin-bottom: 42px;
  color: var(--color-dark-s);
}

/*Блок 2*/
.second-block .container {
  display: flex;
  padding-block: var(--section-paddingBlock);
  justify-content: space-around;
  align-items: center;
  background-color: var(--color-light-xl);
}

.second-block .text-block {
  max-width: 430px;
}

.second-block .text-block h3 {
  max-width: 350px;
  margin-bottom: 25px;
}

.second-block .text-block p:first-of-type {
  margin-bottom: 25px;
}

/*Блок 3*/
.third-block {
  background-color: var(--color-light-l);
  text-align: center;
  padding-block: var(--section-paddingBlock);
}

.pets_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-block: 60px;
}

.pet-card {
  background-color: var(--color-light-s);
  border-radius: 9px;
}

.pet-card h4 {
  margin-top: 30px;
}

.btn-learn_More {
  background-color: transparent;
  border: 2px solid var(--color-primary);
  margin: 30px auto;
}

.Get-pet {
  margin-inline: auto;
}

/*Медиа-запросы*/
@media (hover: hover) {
  button:hover {
    background-color: var(--color-button-hover);
    cursor: pointer;
  }
}
